{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}

    <!-- Categories section -->
    <section id="categories-section" class="align-items-center d-flex">
        <div class="col-10 offset-1 my-2">
            <div class="row mb-4">
                <h1 class="logo-text ps-5">Our Products</h1>
            </div>
            <div class="row text-center">
                <div class="col-md-6 col-lg-4 px-5 mb-5">
                    <a href="#" class="text-decoration-none hvr-shrink">
                        <img class="img-fluid rounded-top" src="{{ MEDIA_URL }}household.jpeg" alt="Wellbeing image">
                        <h4 class="bg--light-blue c--white logo-text rounded-bottom py-1">Household</h4>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 px-5 mb-5">
                    <a href="#" class="text-decoration-none hvr-shrink">
                        <img class="img-fluid rounded-top" src="{{ MEDIA_URL }}kitchen.jpeg" alt="Wellbeing image">
                        <h4 class="bg--light-blue c--white logo-text rounded-bottom py-1">Kitchen</h4>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 px-5 mb-5">
                    <a href="#" class="text-decoration-none hvr-shrink">
                        <img class="img-fluid rounded-top" src="{{ MEDIA_URL }}storage.jpg" alt="Wellbeing image">
                        <h4 class="bg--light-blue c--white logo-text rounded-bottom py-1">Storage</h4>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 px-5 mb-5">
                    <a href="#" class="text-decoration-none hvr-shrink">
                        <img class="img-fluid rounded-top" src="{{ MEDIA_URL }}wellbeing.jpg" alt="Wellbeing image">
                        <h4 class="bg--light-blue c--white logo-text rounded-bottom py-1">Wellbeing</h4>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 px-5 mb-5">
                    <a href="#" class="text-decoration-none hvr-shrink">
                        <img class="img-fluid rounded-top" src="{{ MEDIA_URL }}on-the-go.jpg" alt="Wellbeing image">
                        <h4 class="bg--light-blue c--white logo-text rounded-bottom py-1">On The Go </h4>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 px-5 mb-5">
                    <a href="#" class="text-decoration-none hvr-shrink">
                        <img class="img-fluid rounded-top" src="{{ MEDIA_URL }}kids-and-baby.jpeg" alt="Wellness image">
                        <h4 class="bg--light-blue c--white logo-text rounded-bottom py-1">Kids &amp; Baby</h4>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a href="#guide-section" class="text-decoration-none hvr-sink mt-4"><i class="fas fa-chevron-down"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Guide section -->
    <section id="guide-section" class=" m-0">
        <div class="col-10 offset-1">
            <div class="row pt-5">
                <h1 class="logo-text text-center">Ways to reduce plastic waste</h1>
            </div>
            <div class="row m-4">
                <div class="col-md-6 col-lg-3 px-5 mb-5">
                    <div class="guide-item-container">
                        <i class="fas fa-shopping-bag"></i>
                        <p class="mt-4">Swap plastic bags for fabric bags</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 px-5 mb-5">
                    <div class="guide-item-container">
                        <i class="fas fa-wine-bottle"></i>
                        <p class="mt-4">Use a reusable bottle instead of a plastic one</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 px-5 mb-5">
                    <div class="guide-item-container">
                        <i class="fas fa-mug-hot"></i>
                        <p class="mt-4">Keep hot drinks in a reusable travel mug</p>
                    </div>
                    
                </div>
                <div class="col-md-6 col-lg-3 px-5 mb-5">
                    <div class="guide-item-container">
                        <i class="fas fa-home"></i>
                        <p class="guide-text mt-4">Avoid takeaways and make food at home</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 px-5 mb-5">
                    <div class="guide-item-container">
                        <i class="fas fa-utensils"></i>
                        <p class="mt-4">Use reusable metal cutlery and straws</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 px-5 mb-5">
                    <div class="guide-item-container">
                        <i class="fas fa-toolbox"></i>
                        <p class="mt-4">Make your lunch at home and in reusable containers</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 px-5 mb-5">
                    <div class="guide-item-container">
                        <i class="fas fa-drumstick-bite"></i>
                        <p class="mt-4">Store leftovers in glass jars</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 px-5 mb-5">
                    <div class="guide-item-container">
                        <i class="fas fa-box-open"></i>
                        <p class="mt-4">Where possible buy products in cartons or glass jars</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}