/* About section */
#about {
    background: url("/media/about-image.jpg") no-repeat center center fixed;
    background-size: cover;
}

#about-content {
    background-color: rgba(0, 30, 61, .6);
    color: #f4f6fc;
}

#about-content p {
    text-align: justify;
}

/* Categories section */
#categories-section {
    min-height: calc(100vh - 232px);
}

#categories-section img {
    width: 300px; /* Avoid some images becoming to wide */
}

#categories-section i {
    font-size: 3rem;
    color: #001f3d;
}

/*Guide section */

#guide-section {
    background-color: #001f3d;
    color: #f4f6fc;
}

.guide-item-container {
    text-align: center;
}

.guide-item-container i {
    font-size: 7rem;
    color: #09abd7;
}

.guide-item-container p,
#about p {
    font-size: 1.5rem;
}

/* Medias queries */

/* Small screens sizes and down */
@media (max-width: 768px) {

    .guide-item-container i {
        font-size: 5rem;
    }
    
    .guide-item-container p {
        font-size: 1.25rem;
    }
} 