/* Change default margin, padding and border to 0 and none */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Style default body */
body {
    background: url("/media/home-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f6fc;
    color: #001f3d;
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 1px;
}

/* Fonts */
.logo-text {
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Colors */
.c--white {
    color: #f4f6fc !important;
}

.c--light-blue {
    color: #055772 !important;
}

.c--dark-blue {
    color: #001f3d;
}

.bg--light-blue {
    background-color: #055772;
}

.bg--white {
    background-color: #f4f6fc;
}

/* Buttons, links and icons */

.link-dark {
    color: #001f3d !important;
    text-decoration: none;
}

.link-light {
    color: #f4f6fc;
    text-decoration: none;
}

.link-light:hover,
.link-light:active,
.link-dark:hover,
.link-dark:active {
    color: #09abd7 !important;
}

.btn-main {
    background-color: #001f3d;
    color: #f4f6fc !important;
    border-color: #001f3d;
}

.btn-alternate {
    background-color: #055772;
    color: #f4f6fc !important;
    border-color: #055772;
}

.hvr-back-pulse:active,
.hvr-back-pulse:focus,
.hvr-back-pulse:hover,
.btn-alternate:hover {
    background-color: #09abd7;
    border-color: #09abd7;
}

.icon {
    font-size: 1.7rem;
}

/* Header */
.logo img {
    height: 200px;
    width: 200px;
}

.nav-link {
    font-size: 1.7rem;
}

.navbar-light .navbar-toggler {
    color: #001f3d !important;
    border-color: #001f3d !important;
}

.dropdown-menu {
    background-color: #f4f6fc;
}

.dropdown-item {
    color: #001f3d;
}

#search-bar input,
#search-bar button {
    height: 4rem;
    font-size: 1.5rem;
}

#search-bar input {
    width: 90%;
    background-color: #f4f6fc;
}

#search-bar button {
    width: 10%;
    font-size: 1.7rem;
    color: #001f3d;
}

#grand-total {
    font-size: 1rem;
    font-weight: 300;
}

#info-banner {
    font-weight: 300;
    letter-spacing: 3px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #f4f6fc;
    z-index: -1;
}

/* Medias queries */

/* Small screens sizes and down */
@media (max-width: 768px) {

    .logo img {
        width: 150px;
        height: 150px;
    }

    .nav-link {
        font-size: 1.5rem;
        font-weight: 300;
    }

    #search-bar input {
        width: 80%;
    }

    #search-bar button {
        width: 20%;
    }

    #info-banner {
        font-size: .7rem;
    }
}