/* Change default margin, padding and border to 0 and none */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Style default body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f6fc;
    color: #001f3d;
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 1px;
}

/* Fonts */
.logo-text {
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Colors */
.c--white {
    color: #f4f6fc !important;
}

.bg--light-blue {
    background-color: #055772;
}

/* Buttons, links and icons */

.link-dark {
    color: #001f3d !important;
    text-decoration: none;
}

.link-light {
    color: #f4f6fc;
    text-decoration: none;
}

.link-light:hover,
.link-light:active,
.link-dark:hover,
.link-dark:active {
    color: #09abd7 !important;
}

.icon {
    font-size: 1.7rem;
}

/* Header */
header {
    background: url("/media/categories-bg.jpg") no-repeat center center fixed;
    background-size: cover;
pythn}

.logo img {
    height: 200px;
    width: 200px;
}

.nav-link {
    font-size: 1.7rem;
}

.navbar-light .navbar-toggler {
    color: #001f3d !important;
    border-color: #001f3d !important;
}

.dropdown-menu {
    background-color: #f4f6fc;
}

.dropdown-item {
    color: #001f3d;
}

#search-bar input, 
#search-bar button {
    height: 4rem;
    font-size: 1.5rem;
}

#search-bar input {
    width: 90%;
}

#search-bar button {
    width: 10%;
    font-size: 1.7rem;
    color: #001f3d;
}

#grand-total {
    font-size: 1rem;
    font-weight: 300;
}

#info-banner {
    font-weight: 300;
    letter-spacing: 3px;
}

/* Medias queries */

/* Small screens sizes and down */
@media (max-width: 768px) {

    .logo img {
        width: 150px;
        height: 150px;
    }

    .nav-link {
        font-size: 1.5rem;
        font-weight: 300;
    }

    #search-bar input {
        width: 80%;
    }
    
    #search-bar button {
        width: 20%;
    }

    #info-banner {
        font-size: .7rem;
    }
}