/* Change default margin, padding and border to 0 and none */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Style default body */
body {
    background: url("/media/home-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f6fc;
    color: #001f3d;
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 1px;
}

/* Fonts */
.logo-text {
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Colors */
.c--white {
    color: #f4f6fc !important;
}

.c--light-blue {
    color: #055772 !important;
}

.c--dark-blue {
    color: #001f3d;
}

.c--grey {
    color: #a8aeb3;
}

.bg--light-blue {
    background-color: #055772;
}

.bg--dark-blue {
    background-color: #001f3d;
}

.bg--white {
    background-color: #f4f6fc;
}

.border-blue {
    border-color: #09abd7 !important;
}

/* Buttons, links and icons */

.link-dark {
    color: #001f3d !important;
    text-decoration: none;
}

.link-light {
    color: #f4f6fc;
    text-decoration: none;
}

.link-light:hover,
.link-light:active,
.link-dark:hover,
.link-dark:active {
    color: #09abd7 !important;
}

.link-blue {
    color: #09abd7;
    text-decoration: none;
}

.link-blue:hover {
    color: #001f3d;
    text-decoration: none;
}

.btn-main {
    background-color: #001f3d;
    color: #f4f6fc !important;
    border-color: #001f3d;
}

.btn-alternate {
    background-color: #055772;
    color: #f4f6fc !important;
    border-color: #055772;
}

.hvr-back-pulse:active,
.hvr-back-pulse:focus,
.hvr-back-pulse:hover,
.btn-alternate:hover {
    background-color: #09abd7;
    border-color: #09abd7;
}

.icon {
    font-size: 1.7rem;
}

/* Back to top, remove and update buttons*/
.btt-button {
    height: 42px;
    width: 42px;
    position: sticky;
    bottom: 10px;
    left: 100%;
    margin-right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Quantity buttons */
.input-group-append .btn:focus,
.input-group-prepend .btn:focus {
    box-shadow: none;
}

/* Header */
.logo img {
    height: 200px;
    width: 200px;
}

.nav-link {
    font-size: 1.7rem;
}

.navbar-light .navbar-toggler {
    color: #001f3d !important;
    border-color: #001f3d !important;
}

.dropdown-menu {
    background-color: #f4f6fc;
}

.dropdown-item {
    color: #001f3d;
}

#search-bar input,
#search-bar button {
    height: 4rem;
    font-size: 1.5rem;
}

#search-bar input {
    width: 90%;
    background-color: #f4f6fc;
}

#search-bar button {
    width: 10%;
    font-size: 1.7rem;
    color: #001f3d;
}

#grand-total {
    font-size: 1rem;
    font-weight: 300;
}

#info-banner {
    font-weight: 300;
    letter-spacing: 3px;
}

input[name='q'] {
    color: #001f3d;
}

input[name='q']::placeholder {
    color: #6c757d;
}

/* Page overlay */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #f4f6fc;
    z-index: -1;
}

/* Bootstrap toasts */
.message-container {
    position: fixed;
    top: 140px;
    right: 15px;
    z-index: 9999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Toast arrow - from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 45px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
}

.allauth-form-inner-content input {
    margin-bottom: 12px;
    border-color: #dee2e6;
    background-color: #f4f6fc;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content .form-group {
    margin-bottom: 12px;
}

.allauth-form-inner-content input::placeholder {
    color: #6c757d;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #f4f6fc;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #055772;
    border: 1px solid #055772;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
	background-color: #09abd7;
    border-color: #09abd7;
}

.allauth-form-inner-content a {
	color: #055772;
    text-decoration: none;
}

.allauth-form-inner-content a:hover {
	color: #09abd7;
}

/* Medias queries */

/* Small screens sizes and down */
@media (max-width: 768px) {

    .logo img {
        width: 150px;
        height: 150px;
    }

    .nav-link {
        font-size: 1.5rem;
        font-weight: 300;
    }

    #search-bar input {
        width: 80%;
    }

    #search-bar button {
        width: 20%;
    }

    #info-banner {
        font-size: .7rem;
    }

    .message-container {
        top: 278px;
    }

    .arrow-up {
        right: 28px;
    }
}

/* X-small screens sizes and down */
@media (max-width: 576px) {
    .message-container {
        top: 294px;
    }
}