/* Sort selector */

#sort-selector {
    background-color: #f4f6fc !important;
    color: #001f3d;
}

.border-info {
    border-color: #dee2e6 !important;
}

/* Product form */

.product-form-field {
    background-color: #f4f6fc;
    color: #001f3d !important;
    margin-bottom: 12px;
}

.product-form-field:focus{
    background-color: #f4f6fc;
}

/* Medias queries */

/* X-small screens sizes and down */
@media (max-width: 576px) {
    .btt-button {
        height: 32px;
        width: 32px;
        bottom: 5px;
        margin-right: 5px;
    }
}