<div class="d-none d-md-block text-center">
    <a class="link-dark ps-2" href="{% url 'products' %}">All Products</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=household">Household</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=storage">Storage</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=wellbeing">Wellbeing</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=kitchen">Kitchen</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=on_the_go">On The Go</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=kids_baby">Kids &amp; Baby</a>
</div>