{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

    <!-- Page overlay to cover image -->
    <div class="overlay"></div>
    <div class="container-fluid">

        <!-- Categories menu  -->
        <div class="categories-menu row border-top border-bottom py-3 logo-text">

            <!-- Display in larger screens -->
            <div class="d-none d-md-block text-center">
                <a class="link-dark ps-2" href="#">Household</a>
                <a class="link-dark ps-2" href="#">Storage</a>
                <a class="link-dark ps-2" href="#">Wellbeing</a>
                <a class="link-dark ps-2" href="#">Kitchen</a>
                <a class="link-dark ps-2" href="#">On The Go</a>
                <a class="link-dark ps-2" href="#">Kids &amp; Baby</a>
                <a class="link-dark ps-2" href="#">All Products</a>
            </div>

            <!-- Display in smaller screens-->
            <div class="d-block d-md-none dropdown ps-2">
                <a class="dropdown-toggle link-dark" type="button" id="categories-dropdown" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="collapse dropdown-menu" aria-labelledby="categories-dropdown">
                    <a class="dropdown-item" href="#">Household</a>
                    <a class="dropdown-item" href="#">Kitchen</a>
                    <a class="dropdown-item" href="#">Storage</a>
                    <a class="dropdown-item" href="#">Wellbeing</a>
                    <a class="dropdown-item" href="#">On The Go</a>
                    <a class="dropdown-item" href="#">Kids &amp; Baby</a>
                    <a class="dropdown-item" href="#">All Products</a>
                </div>
            </div>
        </div>

        <!--Products container-->
        <div class="row">
            <div class="product-container my-5 col-10 offset-1">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                        <div class="image-container my-5">
                            {% if product.image %}
                                <a href="{{ product.image.url }}" target="_blank">
                                    <img class="card-img-top img-fluid border" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="product-details-container mb-5 mt-md-5">
                            <p class="mb-0">{{ product.name }}</p>
                            <p class="lead mb-0 text-left text-left c--light-blue">${{ product.price }}</p>
                            {% if product.rating %}
                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                            {% else %}
                                <small class="text-muted">No rating</small>
                            {% endif %}
                            <p class="mt-3">{{ product.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}