{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

    <!-- Page overlay to cover image -->
    <div class="overlay"></div>
    <div class="container-fluid">

        <!-- Categories menu  -->
        <div class="categories-menu row border-top border-bottom py-3 logo-text">

            <!-- Display in larger screens -->
            {% include 'includes/products-nav.html' %}

            <!-- Display in smaller screens-->
            {% include 'includes/mobile-products-nav.html' %}
        </div>

        <!--Products container-->
        <div class="row">
            <div class="product-container my-5 col-10 offset-1">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                        <div class="position-relative image-container my-5">
                            {% if product.image %}
                                <a href="{{ product.image.url }}" target="_blank">
                                    <img class="card-img-top img-fluid border" src="{{ product.image.url }}"
                                        alt="{{ product.name }}">
                                </a>

                                <!-- Add/remove from favorites link -->
                                <a class="favorite-link link-blue" href="{% url 'add_favorite' product.id %}">
                                    {% if favorite %}
                                        <i class="fas fa-heart" aria-label="Remove from favorites"></i>
                                    {% else %}
                                        <i class="far fa-heart" aria-label="Add to favorites"></i>
                                    {% endif %}
                                </a>
                            {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                        alt="{{ product.name }}">
                                </a>

                                <!-- Add/remove from favorites link -->
                                {% if request.user.is_authenticated %}
                                    <a class="favorite-link" href="{% url 'add_favorite' product.id %}">
                                        {% if product.users_favorites %}
                                            <i class="fas fa-heart"></i>
                                        {% else %}
                                            <i class="far fa-heart"></i>
                                        {% endif %}
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="product-details-container mb-5 mt-md-5">
                            <p class="mb-0">{{ product.name }}</p>
                            <p class="lead mb-0 text-left text-left c--light-blue">€{{ product.price }}</p>
                            {% if product.rating %}
                                <small class="text-muted"><i class="fas fa-star me-1"></i>{{ product.rating }} / 5</small>
                            {% else %}
                                <small class="text-muted">No rating</small>
                            {% endif %}
                            {% if request.user.is_superuser %}
                                <small class="ms-3">
                                    <a href="{% url 'edit_product' product.id %}" class="update-link link-dark">Edit</a> |
                                    <a href="{% url 'delete_product' product.id %}" class="remove-item link-blue float-right"
                                        id="remove_{{ item.item_id }}">Delete</a>
                                </small>
                            {% endif %}
                            <p class="mt-3">{{ product.description }}</p>

                            <!-- Add quantity form -->
                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-12">
                                        <p class="mt-3">Quantity:</p>
                                        <div class="form-group w-50">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn" data-item_id="{{ product.id }}"
                                                        id="decrement-qty_{{ product.id }}">
                                                        <i class="fas fa-minus c--light-blue"></i>
                                                    </button>
                                                </div>
                                                <input class="form-control qty_input text-center" type="number"
                                                    name="quantity" value="1" min="1" max="99"
                                                    data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                                <div class="input-group-append">
                                                    <button class="btn increment-qty" data-item_id="{{ product.id }}"
                                                        id="increment-qty_{{ product.id }}">
                                                        <i class="fas fa-plus c--light-blue"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <a href="{% url 'products' %}" class="btn btn-main hvr-back-pulse mt-5">
                                            <span>
                                                <i class="fas fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase">Keep Shopping</span>
                                        </a>
                                        <input type="submit" class="btn btn-alternate text-uppercase mt-5"
                                            value="Add to Bag">
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Product reviews -->
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <hr class="my-0">
                            <a class="logo-text link-dark my-0" data-bs-toggle="collapse" href="#collapse-reviews" 
                                role="button" aria-expanded="false" aria-controls="collapse-reviews">            
                                <p class="py-3 my-0">Reviews ({{ product_reviews | length }})</p>
                            </a>
                            <hr class="my-0">
                        <div class="{% if current_sorting == 'None_None' %}collapse{% endif %}" id="collapse-reviews">
                            {% if product_reviews %}
                                <!-- Sort selector -->
                                <div class="sort-select-wrapper my-4">
                                    <select id="sort-selector" class="custom-select custom-select-sm rounded border {% if current_sorting != 'None_None' %}border-blue{% endif %}">
                                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort
                                            by...</option>
                                        <option value="date_asc" {% if current_sorting == 'date_asc' %}selected{% endif %}>Date
                                            (older to newest)</option>
                                        <option value="date_desc" {% if current_sorting == 'date_desc' %}selected{% endif %}>
                                            Date (newest to oldest)</option>
                                        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                                            Rating (low to high)</option>
                                        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)
                                        </option>
                                    </select>
                                </div>

                                <div class="review-container mt-4">
                                    {% for review in product_reviews %}
                                        <div class="my-4 border-bottom">
                                            <h5>{{ review.title }}</h5>
                                            <p>{{ review.content }}</p>
                                            <p class="c--light-blue"><i class="fas fa-star me-1"></i>{{ review.rating }} / 5</p>
                                            <p class="text-muted d-inline small">By {{ review.author }} on {{ review.created_on }}</p>
                                            {% if review.author == request.user %}
                                                <small class="ms-3 float-end">
                                                    <a href="{% url 'edit_review' review.id %}" class="update-link link-dark">Edit</a> |
                                                    <a href="" class="remove-item link-blue float-right" id="remove_{{ item.item_id }}">Delete</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="my-4">
                                    No reviews for this product yet.
                                </div>
                            {% endif %}
                                <a href="{% url 'add_review' product.id %}" class="btn btn-main hvr-back-pulse">
                                    <span class="text-uppercase">Leave a Review</span>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/quantity_input_script.html' %}
 
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script> 
{% endblock %}